<div class="row">
    <div class="col-md-12">
    	<div id="register-wrap">
	    	<div id="login-box">
	    		<p class="title">Puzzle</p>
	    		<h4>Registro</h4>
	    		<small>Ingrese la información solicitada.</small>
	    		
	    		<form ng-submit="registrar()" name="registroForm">
	    			
	    			<!--<div class="form-group" ng-class="{'has-error':registroForm.dni.$invalid && !registroForm.$pristine}">
					    <label for="dni" class="col-sm-3 control-label">D.N.I.</label>
					  	<input type="text" name="dni" class="form-control" id="dni" ng-model="usuario.numeroDocumento" required="required">
					      <span class="help-block" ng-show="registroForm.dni.$invalid && registroForm.dni.$dirty">Por favor ingrese su DNI</span>    
					</div> -->

					<!--div class="form-group" ng-class="{'has-error':registroForm.nombres.$invalid && !registroForm.$pristine}">
					    <label for="nombres">Nombres</label>
					    <input type="text" name="nombres" class="form-control" id="nombres" ng-model="usuario.nombres" required="required">
					      <span class="help-block" ng-show="registroForm.nombres.$invalid && registroForm.nombres.$dirty">Por favor ingrese sus nombres</span>
					</div>
					<div class="form-group" ng-class="{'has-error':registroForm.apellidos.$invalid && !registroForm.$pristine}">
					    <label for="apellidos">Apellidos</label>
					    <input type="text" name="apellidos" class="form-control" id="apellidos" ng-model="usuario.apellidos" required="required">
					    <span class="help-block" ng-show="registroForm.apellidos.$invalid && registroForm.apellidos.$dirty">Por favor ingrese sus apellidos</span>
					</div-->
					
					<!--<div class="form-group">
					    <label for="email" class="col-sm-3 control-label">Nombre de Usuario</label>
					    <input type="text" class="form-control" id="text" ng-model="usuario.usuario.username">
					</div> -->

					<div class="form-group" ng-class="{'has-error':registroForm.email.$invalid && !registroForm.$pristine}">
					    <label for="username">Username</label>
					    <input type="username" name="username" class="form-control" id="username" ng-model="usuario.usuario.username" required="required" ng-focus="">
					    <span class="help-block" ng-show="registroForm.username.$invalid && registroForm.username.$dirty">Por favor ingrese su username</span>
					</div>
					<div class="form-group" ng-class="{'has-error':registroForm.email.$invalid && !registroForm.$pristine}">
					    <label for="email">Email</label>
					    <input type="email" name="email" class="form-control" id="email" ng-model="usuario.usuario.email" required="required">
					    <span class="help-block" ng-show="registroForm.email.$invalid && registroForm.email.$dirty">Por favor ingrese su email</span>
					</div>
					<div class="form-group" ng-class="{'has-error':registroForm.password.$invalid && !registroForm.$pristine}">
					    <label for="password">Contraseña</label>
					    <input type="password" name="password" class="form-control" id="password" ng-model="usuario.usuario.password" required="required">
					    <span class="help-block" ng-show="registroForm.password.$invalid && registroForm.password.$dirty">Por favor ingrese su contraseña</span>
					</div>
					<div class="form-group" ng-class="{'has-error':registroForm.password2.$invalid && !registroForm.$pristine}">
					    <label for="password2">Confirmar Contraseña</label>
					    <input type="password" name="password2" class="form-control" id="password2" required="required" ng-model="usuario.usuario.password2">
					    <span class="help-block" ng-show="registroForm.password2.$invalid && registroForm.password2.$dirty">Por favor vuelve a introducir su contraseña</span>
					</div>
					<div class="login-btn">
						<button type="submit" class="btn btn-yellow" ng-disabled='!registroForm.$valid'>Regístrate</button>
					</div>
	    		</form>

	    		<a href="/#">»» Volver aquí para ingresar ««</a>

	    		
	    	</div>

	    	<!--ul class="list-inline">
			        <li>
			            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
			        </li>
			        <li>
			            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
			        </li>
			        <li>
			            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
			        </li>
		    </ul-->
    	</div>
    </div>
</div>